/*bak
5BandCWTranceiver/main-backups/
5BandCWTranceiver/buttons/buttons-backups/
*.zip
*.zip
*.zip
*.zip
5BandCWTranceiver/main-backups/main-2022-03-20_203129.zip
5BandCWTranceiver/main-backups/main-2022-03-21_195817.zip
5BandCWTranceiver/main-backups/main-2022-03-21_200817.zip
